* {
  padding: 0;
margin:0;
}

body {
  background: rgb(195,55,100);
  background: linear-gradient(45deg, rgba(195,55,100,1) 0%, rgba(29,38,113,1) 100%);
background-repeat: no-repeat;
background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
background-attachment: fixed;
position: relative;
font-family: Arial, Helvetica, sans-serif;

}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.container {
align-items: center;
justify-content: center;
}

.header {
  background: rgba( 253, 253, 253, 0.05 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 20px );
-webkit-backdrop-filter: blur( 20px );
border-radius: 5rem;
margin: 2rem;
padding: 1rem;
font-family: 'Unica One', cursive;
}

.header-txt {
  color: #f6eef7;
}

.new-todo{
  width:75vh;
  padding: 1rem;
  margin: 2rem;
background: rgba( 253, 253, 253, 0.05 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 20px );
-webkit-backdrop-filter: blur( 20px );
border-radius: 5rem;
border: 0px;
color: #f6eef7;
  
}

::placeholder {
  color:#f6eef7 
}

.add-button {
  margin:.5rem;
  padding: .9rem;
  border-radius: 1rem;
  border: 0px;
  background: rgba( 253, 253, 253, 0.05 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 20px );
-webkit-backdrop-filter: blur( 20px );
color: #f6eef7;
}

.add-button:hover { 
  background: rgba(253, 253, 253, 0.208);
  
  
}

.todo-label {
padding: .5rem;
margin-left: 1rem;
color: #f6eef7;
}

.checkbox {
height: 1.5rem;
width: 1.5rem;


}

.checkbox-item {
  display: flex;
  align-items: center;
  }
  
.item-container {
  display: flex;
  justify-content: center;
  align-items: center;
}


.todo-li {
  display: flex;
  background: rgba( 253, 253, 253, 0.05 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 20px );
-webkit-backdrop-filter: blur( 20px );
padding: 1rem;
margin-bottom: 1rem;
border-radius: 2rem;
}

.edit-todo{
  background: rgba( 253, 253, 253, 0.05 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 20px );
  -webkit-backdrop-filter: blur( 20px );
  margin-left: 1rem;
  height:fit-content;
  width: 75vh;
  color: #f6eef7;
  border-radius: 1rem;
  border:0rem
}


.edit-icon,
.save-icon,
.delete-icon {
margin-right: 1rem;
fill: #f6eef7;
}

.todo-item-buttons{
  margin-left: auto;
  display: flex;
  align-items: center;
}


.text-decoration-line-through {
  text-decoration: line-through;

}
.App {
  text-align: center;
}




